<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#">Home</a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" >Business</a>
          <a class="dropdown-item" >Entertainment</a>
          <a class="dropdown-item" >Technology</a>
          <a class="dropdown-item" >Sport</a>
          <a class="dropdown-item" >Science</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="button">Search</button>
    </form>
  </div>
</nav>

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Aplikasi PWA News API</h1>
    <p class="lead">Aplikasi ini menggunakan APi dari <a href="http://newsapi.org" target="_blank">NewsAPI.org</a> dengan Framework Angular 8 sebagai frontend nya</p>
  </div>
</div>

<!-- content -->

<div class="container">
  <div class="row row-cols-3">
        
      <div *ngFor="let row of articles" class="col" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="card" style="width: 18rem;">
         <img src="{{row.urlToImage}}" class="card-img-top" height="180px">
         <div class="card-body">
           <p class="card-text"><i>Oleh {{row.author}}</i> ~ {{row.description}}</p>
           <p class="text-right"><a href="{{row.url}}" target="_blank">Selengkapnya..</a></p>
         </div>
       </div>
      </div>

  </div>
</div>
      
<!-- content -->
